workflows/lead-finder-enrich-dm.json
{
  "id": "RpiHH5Jbhc0dK6Th",
  "name": "Lead Finder - Enrich DM",
  "nodes": [
    {
      "id": "enrich-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 304],
      "webhookId": "e1a2b3c4-d5f6-7890-abcd-ef1234567890",
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-finder-enrich-dm",
        "responseMode": "responseNode",
        "authentication": "headerAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "LMA3uN6Afx8fKHA4",
          "name": "Enrich DM Secret"
        }
      }
    },
    {
      "id": "enrich-readsheet",
      "name": "Read Sheet Rows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [464, 304],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $env.LEAD_FINDER_SHEET_ID + '/values/Sheet1' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IOYcAf4cVdbQtjgP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "enrich-readdmsheet",
      "name": "Read DM Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [688, 304],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $env.LEAD_FINDER_SHEET_ID + '/values/Sheet3' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IOYcAf4cVdbQtjgP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "enrich-parserows",
      "name": "Parse Rows To Job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [912, 304],
      "parameters": {
        "jsCode": "const globalStore = $getWorkflowStaticData('global');\nconst STALE_MS = 15 * 60 * 1000;\nconst lock = globalStore._enriching;\nif (lock && (Date.now() - lock.startedAt) < STALE_MS) {\n  return [{ json: { already_running: true, total: 0, leads: [] } }];\n}\n\nconst sheet1Raw = $('Read Sheet Rows').first().json;\nconst [headers, ...rows] = sheet1Raw.values || [[]];\n\nconst dmRaw = $input.first().json;\nconst dmAllRows = (dmRaw.error || !dmRaw.values) ? [] : (dmRaw.values || []);\nconst enrichedPlaceIds = new Set();\ndmAllRows.forEach((row, i) => {\n  if (i === 0) return;\n  const placeId = (row && row[0]) || '';\n  if (placeId) enrichedPlaceIds.add(placeId);\n});\n\nconst onlyMissing = $('Webhook').first().json.body?.only_missing !== false;\nconst leads = rows\n  .map((row, i) => ({\n    ...Object.fromEntries(headers.map((h, j) => [h, row[j] || ''])),\n    _rowNumber: i + 2\n  }))\n  .filter(lead => !onlyMissing || !enrichedPlaceIds.has(lead.place_id));\n\nif (leads.length === 0) {\n  return [{ json: { already_running: false, total: 0, leads: [] } }];\n}\n\nglobalStore._enriching = { executionId: $execution.id, startedAt: Date.now() };\nreturn [{ json: { already_running: false, total: leads.length, leads } }];"
      }
    },
    {
      "id": "enrich-if-running",
      "name": "IF Already Running",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1136, 304],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            {
              "id": "running-check",
              "leftValue": "={{ $json.already_running === true }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "enrich-respond-running",
      "name": "Respond (already running)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1344, 160],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'in_progress', message: 'Enrichment already running' }) }}",
        "options": { "responseCode": 409 }
      }
    },
    {
      "id": "enrich-if-total",
      "name": "IF Total > 0",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1344, 448],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            {
              "id": "total-check",
              "leftValue": "={{ $json.total > 0 }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "enrich-respond-started",
      "name": "Respond (started)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1568, 304],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'started', total: $json.total }) }}",
        "options": { "responseCode": 202 }
      }
    },
    {
      "id": "enrich-respond-nothing",
      "name": "Respond (nothing to enrich)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1568, 592],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', message: 'Nothing to enrich', total: 0 }) }}",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "enrich-splitout",
      "name": "Split Out Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1792, 304],
      "parameters": {
        "jsCode": "return $input.first().json.leads.map(lead => ({ json: lead }));"
      }
    },
    {
      "id": "enrich-splitbatches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2016, 304],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "enrich-wait",
      "name": "Wait 15s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2224, 304],
      "webhookId": "f2b3c4d5-e6a7-8901-bcde-f23456789012",
      "parameters": { "resume": "timeInterval", "amount": 15, "unit": "seconds" }
    },
    {
      "id": "enrich-cleanup",
      "name": "Cleanup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2224, 480],
      "parameters": {
        "jsCode": "const execId = $execution.id;\nconst store = $getWorkflowStaticData('global');\ndelete store[execId];\ndelete store._enriching;\nreturn [];"
      }
    },
    {
      "id": "enrich-buildserpapi",
      "name": "Build SerpApi Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2448, 304],
      "parameters": {
        "jsCode": "const execId = $execution.id;\nconst store = $getWorkflowStaticData('global');\nif (!store[execId]) store[execId] = {};\nconst lead = $input.first().json;\nstore[execId].pendingLead = { _rowNumber: lead._rowNumber, place_id: lead.place_id || '', name: lead.name || '' };\nstore[execId].leadInfo = { name: lead.name || '', address: lead.address || '', phone: lead.phone || '', website: lead.website || '' };\nconst location = (lead.address || '').split(',').slice(-2).join(',').trim();\nconst domain = lead.website ? lead.website.replace(/^https?:\\/\\//, '').replace(/\\/.*$/, '') : '';\nconst websitePart = domain ? ' ' + domain : '';\nconst query = '\"' + (lead.name || '') + '\" ' + location + websitePart + ' owner founder CEO director manager LinkedIn email phone';\nreturn [{ json: { serpapi_query: { api_key: $env.SERPAPI_API_KEY, q: query.trim(), num: '10' } }}];"
      }
    },
    {
      "id": "enrich-callserpapi",
      "name": "Call SerpApi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2672, 304],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "engine", "value": "google" },
            { "name": "q", "value": "={{ $json.serpapi_query.q }}" },
            { "name": "api_key", "value": "={{ $json.serpapi_query.api_key }}" },
            { "name": "num", "value": "={{ $json.serpapi_query.num }}" },
            { "name": "hl", "value": "en" },
            { "name": "gl", "value": "us" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "enrich-stashbroad",
      "name": "Stash Broad Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2884, 480],
      "parameters": {
        "jsCode": "const execId = $execution.id;\nconst store = $getWorkflowStaticData('global');\nif (!store[execId]) store[execId] = {};\nconst leadInfo = store[execId].leadInfo || {};\nconst broadResults = $input.first().json;\nstore[execId].broadResults = broadResults;\nlet secondQuery;\nlet domain = '';\nif (leadInfo.website) {\n  domain = leadInfo.website.replace(/^https?:\\/\\//, '').replace(/\\/.*$/, '');\n  secondQuery = 'site:' + domain + ' owner founder director manager team about contact email phone';\n} else {\n  const location = (leadInfo.address || '').split(',').slice(-2).join(',').trim();\n  secondQuery = '\"' + (leadInfo.name || '') + '\" ' + location + ' owner founder director manager LinkedIn Facebook';\n}\nconst firstPageText = JSON.stringify((broadResults.organic_results || []).slice(0, 5));\nconst hasDecisionHint = /\\b(owner|founder|ceo|director|manager|principal|partner|practice manager)\\b/i.test(firstPageText);\nconst hasOfficialDomain = domain ? firstPageText.toLowerCase().includes(domain.toLowerCase()) : false;\nconst needsTargetedSearch = !hasDecisionHint || (domain && !hasOfficialDomain);\nreturn [{ json: { needs_targeted_search: needsTargetedSearch, serpapi_site_query: { api_key: $env.SERPAPI_API_KEY, q: secondQuery.trim(), num: '10' }}}];"
      }
    },
    {
      "id": "enrich-if-targeted-search",
      "name": "IF Needs Targeted Search",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3104, 480],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            {
              "id": "targeted-search-check",
              "leftValue": "={{ $json.needs_targeted_search === true }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "enrich-callserpapi2",
      "name": "Call SerpApi Site",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [3328, 480],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "engine", "value": "google" },
            { "name": "q", "value": "={{ $json.serpapi_site_query.q }}" },
            { "name": "api_key", "value": "={{ $json.serpapi_site_query.api_key }}" },
            { "name": "num", "value": "={{ $json.serpapi_site_query.num }}" },
            { "name": "hl", "value": "en" },
            { "name": "gl", "value": "us" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "enrich-buildllmbody",
      "name": "Build LLM Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2896, 304],
      "parameters": {
        "jsCode": "const execId = $execution.id;\nconst store = $getWorkflowStaticData('global');\nconst leadInfo = store[execId]?.leadInfo || {};\nconst broadResult = store[execId]?.broadResults || {};\nconst siteResult = $input.first().json;\nfunction extractContext(result) {\n  const parts = [];\n  if (result.error) parts.push('Search error: ' + result.error);\n  if (result.answer_box) parts.push('Answer box: ' + JSON.stringify(result.answer_box).substring(0, 700));\n  if (result.knowledge_graph) parts.push('Knowledge graph: ' + JSON.stringify(result.knowledge_graph).substring(0, 900));\n  const organic = (result.organic_results || []).slice(0, 8).map(r => [r.title, r.link, r.snippet, r.rich_snippet ? JSON.stringify(r.rich_snippet).substring(0, 300) : ''].filter(Boolean).join('\\n')).join('\\n---\\n');\n  if (organic) parts.push('Organic results:\\n' + organic);\n  return parts.join('\\n\\n').substring(0, 5000);\n}\nconst broadContext = extractContext(broadResult);\nconst siteContext = extractContext(siteResult);\nconst contextBlock = [broadContext, siteContext ? '=== Targeted Search ===\\n' + siteContext : ''].filter(Boolean).join('\\n\\n');\nconst prompt = 'Business: ' + (leadInfo.name || 'N/A') + ', ' + (leadInfo.address || 'N/A') + '\\nWebsite: ' + (leadInfo.website || 'N/A') + '\\n\\nSerpApi Google search results:\\n' + (contextBlock || 'No results') + '\\n\\nExtract every supported key decision maker for this business, up to 5 people. Prefer owner, founder, CEO, managing director, director, general manager, principal, partner, or practice manager. Use ONLY the search results above. Do not guess. Return N/A for fields not supported by results.\\n\\nReturn JSON only in this exact shape: {\"people\":[{\"person_name\":\"N/A\",\"person_title\":\"N/A\",\"person_phone\":\"N/A\",\"person_email\":\"N/A\",\"person_linkedin\":\"N/A\",\"person_instagram\":\"N/A\",\"person_twitter\":\"N/A\"}]}';\nreturn [{ json: { llm_body: { model: 'gpt-4o-mini', max_tokens: 900, temperature: 0.1, response_format: { type: 'json_object' }, messages: [{ role: 'user', content: prompt }] }}}];"
      }
    },
    {
      "id": "enrich-callllm",
      "name": "Call LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [3104, 304],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.llm_body) }}",
        "options": {}
      }
    },
    {
      "id": "enrich-parsedm",
      "name": "Parse DM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3328, 304],
      "parameters": {
        "jsCode": "const execId = $execution.id;\nconst store = $getWorkflowStaticData('global');\nconst pendingLead = store[execId]?.pendingLead || {};\nif (store[execId]) delete store[execId].pendingLead;\n\nconst response = $input.first().json;\nconst choices = response?.choices;\nconst text = choices?.[0]?.message?.content?.trim() || '';\n\nif (response?.error || !choices || !Array.isArray(choices) || choices.length === 0 || !text) {\n  return [{ json: { ...pendingLead, _should_update: false } }];\n}\n\nfunction clean(value) {\n  const v = String(value || '').trim();\n  return /^n\\/a$/i.test(v) || !v ? 'N/A' : v.substring(0, 500);\n}\n\nfunction extract(label) {\n  const m = text.match(new RegExp(label + ':\\\\s*(.+)', 'i'));\n  return m ? clean(m[1]) : 'N/A';\n}\n\nlet people = [];\ntry {\n  const parsed = JSON.parse(text);\n  people = Array.isArray(parsed.people) ? parsed.people : [];\n} catch (e) {\n  people = [{\n    person_name: extract('PERSON_NAME'),\n    person_title: extract('PERSON_TITLE'),\n    person_phone: extract('PERSON_PHONE'),\n    person_email: extract('PERSON_EMAIL'),\n    person_linkedin: extract('PERSON_LINKEDIN'),\n    person_instagram: extract('PERSON_INSTAGRAM'),\n    person_twitter: extract('PERSON_TWITTER')\n  }];\n}\n\nconst seen = new Set();\nconst rows = people\n  .map(person => ({\n    ...pendingLead,\n    person_name: clean(person.person_name),\n    person_title: clean(person.person_title),\n    person_phone: clean(person.person_phone),\n    person_email: clean(person.person_email),\n    person_linkedin: clean(person.person_linkedin),\n    person_instagram: clean(person.person_instagram),\n    person_twitter: clean(person.person_twitter),\n    _should_update: true\n  }))\n  .filter(person => person.person_name !== 'N/A')\n  .filter(person => {\n    const key = [person.person_name, person.person_title, person.person_email, person.person_linkedin].join('|').toLowerCase();\n    if (seen.has(key)) return false;\n    seen.add(key);\n    return true;\n  })\n  .slice(0, 5);\n\nif (rows.length === 0) return [{ json: { ...pendingLead, _should_update: false } }];\nreturn rows.map(row => ({ json: row }));"
      }
    },
    {
      "id": "enrich-if-update",
      "name": "IF Should Update",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3552, 304],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            {
              "id": "update-check",
              "leftValue": "={{ $json._should_update === true }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "enrich-updaterow",
      "name": "Update Sheet Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [3776, 160],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $env.LEAD_FINDER_SHEET_ID + '/values/Sheet3!A:I:append' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "valueInputOption", "value": "RAW" },
            { "name": "insertDataOption", "value": "INSERT_ROWS" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ values: [[$json.place_id, $json.name, $json.person_name, $json.person_title, $json.person_phone, $json.person_email, $json.person_linkedin, $json.person_instagram, $json.person_twitter]] }) }}",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IOYcAf4cVdbQtjgP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "read-dm-webhook",
      "name": "Webhook (Read DM)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 600],
      "webhookId": "b2c3d4e5-f6a7-8901-cdef-234567890123",
      "parameters": {
        "httpMethod": "GET",
        "path": "lead-finder-dm-data",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "read-dm-sheet3",
      "name": "Read Sheet3 For DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [464, 600],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + ($json.query?.sheet_id || $env.LEAD_FINDER_SHEET_ID) + '/values/Sheet3' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IOYcAf4cVdbQtjgP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "parse-dm-sheet",
      "name": "Parse DM Sheet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [688, 600],
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst allRows = (raw.error || !raw.values) ? [] : (raw.values || []);\nconst dm = {};\nallRows.forEach((row, i) => {\n  if (i === 0) return;\n  const placeId = (row && row[0]) || '';\n  if (placeId) {\n    if (!dm[placeId]) dm[placeId] = [];\n    dm[placeId].push({\n      person_name:      (row[2] || ''),\n      person_title:     (row[3] || ''),\n      person_phone:     (row[4] || ''),\n      person_email:     (row[5] || ''),\n      person_linkedin:  (row[6] || ''),\n      person_instagram: (row[7] || ''),\n      person_twitter:   (row[8] || '')\n    });\n  }\n});\nreturn [{ json: { dm } }];"
      }
    },
    {
      "id": "respond-dm",
      "name": "Respond DM",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [912, 600],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Read Sheet Rows", "type": "main", "index": 0 }]] },
    "Read Sheet Rows": { "main": [[{ "node": "Read DM Sheet", "type": "main", "index": 0 }]] },
    "Read DM Sheet": { "main": [[{ "node": "Parse Rows To Job", "type": "main", "index": 0 }]] },
    "Parse Rows To Job": { "main": [[{ "node": "IF Already Running", "type": "main", "index": 0 }]] },
    "IF Already Running": {
      "main": [
        [{ "node": "Respond (already running)", "type": "main", "index": 0 }],
        [{ "node": "IF Total > 0", "type": "main", "index": 0 }]
      ]
    },
    "IF Total > 0": {
      "main": [
        [{ "node": "Respond (started)", "type": "main", "index": 0 }],
        [{ "node": "Respond (nothing to enrich)", "type": "main", "index": 0 }]
      ]
    },
    "Respond (started)": { "main": [[{ "node": "Split Out Leads", "type": "main", "index": 0 }]] },
    "Split Out Leads": { "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]] },
    "Split In Batches": {
      "main": [
        [{ "node": "Cleanup", "type": "main", "index": 0 }],
        [{ "node": "Wait 15s", "type": "main", "index": 0 }]
      ]
    },
    "Wait 15s": { "main": [[{ "node": "Build SerpApi Query", "type": "main", "index": 0 }]] },
    "Build SerpApi Query": { "main": [[{ "node": "Call SerpApi", "type": "main", "index": 0 }]] },
    "Call SerpApi": { "main": [[{ "node": "Stash Broad Results", "type": "main", "index": 0 }]] },
    "Stash Broad Results": { "main": [[{ "node": "IF Needs Targeted Search", "type": "main", "index": 0 }]] },
    "IF Needs Targeted Search": {
      "main": [
        [{ "node": "Call SerpApi Site", "type": "main", "index": 0 }],
        [{ "node": "Build LLM Body", "type": "main", "index": 0 }]
      ]
    },
    "Call SerpApi Site": { "main": [[{ "node": "Build LLM Body", "type": "main", "index": 0 }]] },
    "Build LLM Body": { "main": [[{ "node": "Call LLM", "type": "main", "index": 0 }]] },
    "Call LLM": { "main": [[{ "node": "Parse DM Response", "type": "main", "index": 0 }]] },
    "Parse DM Response": { "main": [[{ "node": "IF Should Update", "type": "main", "index": 0 }]] },
    "IF Should Update": {
      "main": [
        [{ "node": "Update Sheet Row", "type": "main", "index": 0 }],
        [{ "node": "Split In Batches", "type": "main", "index": 0 }]
      ]
    },
    "Update Sheet Row": { "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]] },
    "Webhook (Read DM)": { "main": [[{ "node": "Read Sheet3 For DM", "type": "main", "index": 0 }]] },
    "Read Sheet3 For DM": { "main": [[{ "node": "Parse DM Sheet", "type": "main", "index": 0 }]] },
    "Parse DM Sheet": { "main": [[{ "node": "Respond DM", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": []
}
