workflows/lead-finder-enrich-dm.json
{
  "id": "RpiHH5Jbhc0dK6Th",
  "name": "Lead Finder - Enrich DM",
  "nodes": [
    {
      "id": "enrich-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 304],
      "webhookId": "e1a2b3c4-d5f6-7890-abcd-ef1234567890",
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-finder-enrich-dm",
        "responseMode": "responseNode",
        "authentication": "headerAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "LMA3uN6Afx8fKHA4",
          "name": "Enrich DM Secret"
        }
      }
    },
    {
      "id": "enrich-readsheet",
      "name": "Read Sheet Rows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [464, 304],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $env.LEAD_FINDER_SHEET_ID + '/values/Sheet1' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IOYcAf4cVdbQtjgP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "enrich-readdmsheet",
      "name": "Read DM Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [688, 304],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $env.LEAD_FINDER_SHEET_ID + '/values/Sheet3' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IOYcAf4cVdbQtjgP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "enrich-parserows",
      "name": "Parse Rows To Job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [912, 304],
      "parameters": {
        "jsCode": "const globalStore = $getWorkflowStaticData('global');\nconst STALE_MS = 15 * 60 * 1000;\nconst lock = globalStore._enriching;\nif (lock && (Date.now() - lock.startedAt) < STALE_MS) {\n  return [{ json: { already_running: true, total: 0, leads: [] } }];\n}\n\nconst sheet1Raw = $('Read Sheet Rows').first().json;\nconst [headers, ...rows] = sheet1Raw.values || [[]];\n\nconst dmRaw = $input.first().json;\nconst dmAllRows = (dmRaw.error || !dmRaw.values) ? [] : (dmRaw.values || []);\nconst enrichedPlaceIds = new Set();\ndmAllRows.forEach((row, i) => {\n  if (i === 0) return;\n  const placeId = (row && row[0]) || '';\n  if (placeId) enrichedPlaceIds.add(placeId);\n});\n\nconst onlyMissing = $('Webhook').first().json.body?.only_missing !== false;\nconst leads = rows\n  .map((row, i) => ({\n    ...Object.fromEntries(headers.map((h, j) => [h, row[j] || ''])),\n    _rowNumber: i + 2\n  }))\n  .filter(lead => !onlyMissing || !enrichedPlaceIds.has(lead.place_id));\n\nif (leads.length === 0) {\n  return [{ json: { already_running: false, total: 0, leads: [] } }];\n}\n\nglobalStore._enriching = { executionId: $execution.id, startedAt: Date.now() };\nreturn [{ json: { already_running: false, total: leads.length, leads } }];"
      }
    },
    {
      "id": "enrich-if-running",
      "name": "IF Already Running",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1136, 304],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            {
              "id": "running-check",
              "leftValue": "={{ $json.already_running === true }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "enrich-respond-running",
      "name": "Respond (already running)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1344, 160],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'in_progress', message: 'Enrichment already running' }) }}",
        "options": { "responseCode": 409 }
      }
    },
    {
      "id": "enrich-if-total",
      "name": "IF Total > 0",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1344, 448],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            {
              "id": "total-check",
              "leftValue": "={{ $json.total > 0 }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "enrich-respond-started",
      "name": "Respond (started)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1568, 304],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'started', total: $json.total }) }}",
        "options": { "responseCode": 202 }
      }
    },
    {
      "id": "enrich-respond-nothing",
      "name": "Respond (nothing to enrich)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1568, 592],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', message: 'Nothing to enrich', total: 0 }) }}",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "enrich-splitout",
      "name": "Split Out Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1792, 304],
      "parameters": {
        "jsCode": "return $input.first().json.leads.map(lead => ({ json: lead }));"
      }
    },
    {
      "id": "enrich-splitbatches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2016, 304],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "enrich-wait",
      "name": "Wait 15s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2224, 304],
      "webhookId": "f2b3c4d5-e6a7-8901-bcde-f23456789012",
      "parameters": { "resume": "timeInterval", "amount": 15, "unit": "seconds" }
    },
    {
      "id": "enrich-cleanup",
      "name": "Cleanup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2224, 480],
      "parameters": {
        "jsCode": "const execId = $execution.id;\nconst store = $getWorkflowStaticData('global');\ndelete store[execId];\ndelete store._enriching;\nreturn [];"
      }
    },
    {
      "id": "enrich-buildtavily",
      "name": "Build Tavily Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2448, 304],
      "parameters": {
        "jsCode": "const execId = $execution.id;\nconst store = $getWorkflowStaticData('global');\nif (!store[execId]) store[execId] = {};\nconst lead = $input.first().json;\nstore[execId].pendingLead = { _rowNumber: lead._rowNumber, place_id: lead.place_id || '', name: lead.name || '' };\nstore[execId].leadInfo = { name: lead.name || '', address: lead.address || '', phone: lead.phone || '', website: lead.website || '' };\nconst location = (lead.address || '').split(',').slice(-2).join(',').trim();\nconst websitePart = lead.website ? ' ' + lead.website.replace(/^https?:\\/\\//, '').replace(/\\/$/, '') : '';\nconst query = (lead.name || '') + ' ' + location + websitePart + ' owner CEO director email LinkedIn phone number';\nreturn [{ json: { tavily_body: { api_key: $env.TAVILY_API_KEY, query: query.trim(), search_depth: 'basic', max_results: 3, include_answer: true, include_raw_content: false } }}];"
      }
    },
    {
      "id": "enrich-calltavily",
      "name": "Call Tavily",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2672, 304],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.tavily_body) }}",
        "options": {}
      }
    },
    {
      "id": "enrich-stashbroad",
      "name": "Stash Broad Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2884, 480],
      "parameters": {
        "jsCode": "const execId = $execution.id;\nconst store = $getWorkflowStaticData('global');\nif (!store[execId]) store[execId] = {};\nconst leadInfo = store[execId].leadInfo || {};\nstore[execId].broadResults = $input.first().json;\nlet secondQuery;\nif (leadInfo.website) {\n  const domain = leadInfo.website.replace(/^https?:\\/\\//, '').replace(/\\/.*$/, '');\n  secondQuery = 'site:' + domain + ' owner contact about team phone';\n} else {\n  const location = (leadInfo.address || '').split(',').slice(-2).join(',').trim();\n  secondQuery = '\"' + (leadInfo.name || '') + '\" ' + location + ' owner founder director phone site:linkedin.com OR site:facebook.com';\n}\nreturn [{ json: { tavily_site_body: { api_key: $env.TAVILY_API_KEY, query: secondQuery.trim(), search_depth: 'basic', max_results: 3, include_answer: true, include_raw_content: false }}}];"
      }
    },
    {
      "id": "enrich-calltavily2",
      "name": "Call Tavily Site",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [3104, 480],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.tavily_site_body) }}",
        "options": {}
      }
    },
    {
      "id": "enrich-buildllmbody",
      "name": "Build LLM Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2896, 304],
      "parameters": {
        "jsCode": "const execId = $execution.id;\nconst store = $getWorkflowStaticData('global');\nconst leadInfo = store[execId]?.leadInfo || {};\nconst broadResult = store[execId]?.broadResults || {};\nconst siteResult = $input.first().json;\nfunction extractContext(result) {\n  const answer = (result.answer || '').substring(0, 400);\n  const results = (result.results || []).slice(0, 3).map(r => r.title + '\\n' + r.url + '\\n' + (r.content || '').substring(0, 300)).join('\\n---\\n');\n  return [answer, results].filter(Boolean).join('\\n\\n');\n}\nconst broadContext = extractContext(broadResult);\nconst siteContext = extractContext(siteResult);\nconst contextBlock = [broadContext, siteContext ? '=== Targeted Search ===\\n' + siteContext : ''].filter(Boolean).join('\\n\\n');\nconst prompt = 'Business: ' + (leadInfo.name || 'N/A') + ', ' + (leadInfo.address || 'N/A') + '\\nWebsite: ' + (leadInfo.website || 'N/A') + '\\n\\nSearch results:\\n' + (contextBlock || 'No results') + '\\n\\nExtract the decision maker (owner, CEO, Director) using ONLY the results above. Return N/A for any field not supported by results.\\n\\nFormat:\\nPERSON_NAME: [name or N/A]\\nPERSON_TITLE: [title or N/A]\\nPERSON_PHONE: [direct phone or N/A]\\nPERSON_EMAIL: [email or N/A]\\nPERSON_LINKEDIN: [URL or N/A]\\nPERSON_INSTAGRAM: [URL or N/A]\\nPERSON_TWITTER: [URL or N/A]';\nreturn [{ json: { llm_body: { model: 'gpt-4o-mini', max_tokens: 300, temperature: 0.1, messages: [{ role: 'user', content: prompt }] }}}];"
      }
    },
    {
      "id": "enrich-callllm",
      "name": "Call LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [3104, 304],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.llm_body) }}",
        "options": {}
      }
    },
    {
      "id": "enrich-parsedm",
      "name": "Parse DM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3328, 304],
      "parameters": {
        "jsCode": "const execId = $execution.id;\nconst store = $getWorkflowStaticData('global');\nconst pendingLead = store[execId]?.pendingLead || {};\nif (store[execId]) delete store[execId].pendingLead;\n\nconst response = $input.first().json;\nconst choices = response?.choices;\nconst text = choices?.[0]?.message?.content?.trim() || '';\n\nif (response?.error || !choices || !Array.isArray(choices) || choices.length === 0 || !text) {\n  return [{ json: { ...pendingLead, _should_update: false } }];\n}\n\nfunction extract(label) {\n  const m = text.match(new RegExp(label + ':\\\\s*(.+)', 'i'));\n  if (!m) return 'N/A';\n  const v = m[1].trim();\n  return /^n\\/a$/i.test(v) || !v ? 'N/A' : v.substring(0, 500);\n}\n\nreturn [{ json: {\n  ...pendingLead,\n  person_name:      extract('PERSON_NAME'),\n  person_title:     extract('PERSON_TITLE'),\n  person_phone:     extract('PERSON_PHONE'),\n  person_email:     extract('PERSON_EMAIL'),\n  person_linkedin:  extract('PERSON_LINKEDIN'),\n  person_instagram: extract('PERSON_INSTAGRAM'),\n  person_twitter:   extract('PERSON_TWITTER'),\n  _should_update: true\n}}];"
      }
    },
    {
      "id": "enrich-if-update",
      "name": "IF Should Update",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3552, 304],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            {
              "id": "update-check",
              "leftValue": "={{ $json._should_update === true }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "enrich-updaterow",
      "name": "Update Sheet Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [3776, 160],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $env.LEAD_FINDER_SHEET_ID + '/values/Sheet3!A:I:append' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "valueInputOption", "value": "RAW" },
            { "name": "insertDataOption", "value": "INSERT_ROWS" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ values: [[$json.place_id, $json.name, $json.person_name, $json.person_title, $json.person_phone, $json.person_email, $json.person_linkedin, $json.person_instagram, $json.person_twitter]] }) }}",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IOYcAf4cVdbQtjgP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "read-dm-webhook",
      "name": "Webhook (Read DM)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 600],
      "webhookId": "b2c3d4e5-f6a7-8901-cdef-234567890123",
      "parameters": {
        "httpMethod": "GET",
        "path": "lead-finder-dm-data",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "read-dm-sheet3",
      "name": "Read Sheet3 For DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [464, 600],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + ($json.query?.sheet_id || $env.LEAD_FINDER_SHEET_ID) + '/values/Sheet3' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IOYcAf4cVdbQtjgP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "parse-dm-sheet",
      "name": "Parse DM Sheet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [688, 600],
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst allRows = (raw.error || !raw.values) ? [] : (raw.values || []);\nconst dm = {};\nallRows.forEach((row, i) => {\n  if (i === 0) return;\n  const placeId = (row && row[0]) || '';\n  if (placeId) {\n    dm[placeId] = {\n      person_name:      (row[2] || ''),\n      person_title:     (row[3] || ''),\n      person_phone:     (row[4] || ''),\n      person_email:     (row[5] || ''),\n      person_linkedin:  (row[6] || ''),\n      person_instagram: (row[7] || ''),\n      person_twitter:   (row[8] || '')\n    };\n  }\n});\nreturn [{ json: { dm } }];"
      }
    },
    {
      "id": "respond-dm",
      "name": "Respond DM",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [912, 600],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Read Sheet Rows", "type": "main", "index": 0 }]] },
    "Read Sheet Rows": { "main": [[{ "node": "Read DM Sheet", "type": "main", "index": 0 }]] },
    "Read DM Sheet": { "main": [[{ "node": "Parse Rows To Job", "type": "main", "index": 0 }]] },
    "Parse Rows To Job": { "main": [[{ "node": "IF Already Running", "type": "main", "index": 0 }]] },
    "IF Already Running": {
      "main": [
        [{ "node": "Respond (already running)", "type": "main", "index": 0 }],
        [{ "node": "IF Total > 0", "type": "main", "index": 0 }]
      ]
    },
    "IF Total > 0": {
      "main": [
        [{ "node": "Respond (started)", "type": "main", "index": 0 }],
        [{ "node": "Respond (nothing to enrich)", "type": "main", "index": 0 }]
      ]
    },
    "Respond (started)": { "main": [[{ "node": "Split Out Leads", "type": "main", "index": 0 }]] },
    "Split Out Leads": { "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]] },
    "Split In Batches": {
      "main": [
        [{ "node": "Cleanup", "type": "main", "index": 0 }],
        [{ "node": "Wait 15s", "type": "main", "index": 0 }]
      ]
    },
    "Wait 15s": { "main": [[{ "node": "Build Tavily Query", "type": "main", "index": 0 }]] },
    "Build Tavily Query": { "main": [[{ "node": "Call Tavily", "type": "main", "index": 0 }]] },
    "Call Tavily": { "main": [[{ "node": "Stash Broad Results", "type": "main", "index": 0 }]] },
    "Stash Broad Results": { "main": [[{ "node": "Call Tavily Site", "type": "main", "index": 0 }]] },
    "Call Tavily Site": { "main": [[{ "node": "Build LLM Body", "type": "main", "index": 0 }]] },
    "Build LLM Body": { "main": [[{ "node": "Call LLM", "type": "main", "index": 0 }]] },
    "Call LLM": { "main": [[{ "node": "Parse DM Response", "type": "main", "index": 0 }]] },
    "Parse DM Response": { "main": [[{ "node": "IF Should Update", "type": "main", "index": 0 }]] },
    "IF Should Update": {
      "main": [
        [{ "node": "Update Sheet Row", "type": "main", "index": 0 }],
        [{ "node": "Split In Batches", "type": "main", "index": 0 }]
      ]
    },
    "Update Sheet Row": { "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]] },
    "Webhook (Read DM)": { "main": [[{ "node": "Read Sheet3 For DM", "type": "main", "index": 0 }]] },
    "Read Sheet3 For DM": { "main": [[{ "node": "Parse DM Sheet", "type": "main", "index": 0 }]] },
    "Parse DM Sheet": { "main": [[{ "node": "Respond DM", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": []
}
